@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Inconsolata:wght@200;300;400&family=Inter:wght@200;400&display=swap');

:root {
  --green: #202615;
  --lime: #82EB86;
  --white: #fff;
}

body {
  background-color: var(--green);
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

@media (min-width: 800px) {
  body {
    width: 700px;
    margin: 0 auto;
  }
}