@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Inconsolata:wght@200;300;400&family=Inter:wght@200;400&display=swap');

:root {
  --green: #202615;
  --dullgreen: #8EA18D;
  --lime: #82EB86;
  --white: #fff;
}

body {
  background-color: var(--green);
}

@media (min-width: 800px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
}

/************************************************* TYPOGRAPHY */

body {
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

h1, .subtitle {
  margin: 0;
}

h1 {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 400;
  font-size: 4em;
}

.subtitle,
nav a:hover {
  color: var(--lime);
}

.subtitle {
  margin-block-start: -.5em;
  margin-inline-start: 1em;
}

/************************************************** NAV */
nav {
  padding-block: 1em;
}

nav a {
  color: var(--dullgreen);
  padding-inline-end: 1.5em;
  text-decoration: none;
  transition: 200ms all ease-in;
}

nav a.active {
  border-left: 3px solid var(--lime);
  padding-inline-start: .25em;
}

/************************************************** HERO */

.hero {
  border: 1px solid black;
  margin-inline: 4em;
  padding: 1em;
}

.hero-text {
  margin-inline: 1em;
}