@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Inconsolata:wght@200;300;400&family=Inter:wght@200;400&display=swap');

:root {
  --green: #202615;
  --linkgreen: #8EA18D;
  --lime: #82EB86;
  --white: #fff;
}

body {
  background-color: var(--green);
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

@media (min-width: 800px) {
  body {
    width: 700px;
    margin: 0 auto;
  }
}

/************************************************* NAV */
nav {
  padding-block: 1em;
}

nav a {
  color: var(--linkgreen);
  padding-inline-end: 1.5em;
  text-decoration: none;
  transition: 200ms all ease-in;
}

nav a:hover {
  color: var(--lime);  
}

nav a.active {
  border-left: 3px solid var(--lime);
  padding-inline-start: .25em;
}